input, select, textarea {
	border: 1px solid;
}

.left {
	position: absolute;
	left: 1%;
	width: 47%;
	border-right: 1px solid black;
}

.right {
	position: absolute;
	right: 1%;
	width: 47%;
}

hr {
	border: 1px solid black;
}
