fieldset {
	margin-bottom: 4px;
}

input, select, textarea {
	border: 1px solid;
}

.left {
	position: absolute;
	left: 1%;
	width: 49%;
}

.right {
	position: absolute;
	right: 1%;
	width: 49%;
}

@media print {
.noprint { display: none; }
}
